{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Algeria</button>  
    <button class="button button1">Angola</button>
    <button class="button button1">Benin</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Botswana</button>  
    <button class="button button1">Burkina Faso</button>
    <button class="button button1">Burundi</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Cabo Verde</button>  
    <button class="button button1">Cameroon</button>
    <button class="button button1">C. African Republic</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Chad</button>  
    <button class="button button1">Comoros</button>
    <button class="button button1">Congo</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Côte d'Ivoire</button>  
    <button class="button button1">Djibouti</button>
    <button class="button button1">DR Congo</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Egypt</button>  
    <button class="button button1">Equatorial Guinea</button>
    <button class="button button1">Eritrea</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Eswatini</button>  
    <button class="button button1">Ethiopia</button>
    <button class="button button1">Gabon</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Gambia</button>  
    <button class="button button1">Ghana</button>
    <button class="button button1">Guinea</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Guinea-Bissau</button>  
    <button class="button button1">Kenya</button>
    <button class="button button1">Lesotho</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Liberia</button>  
    <button class="button button1">Libya</button>
    <button class="button button1">Madagascar</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Malawi</button>  
    <button class="button button1">Mali</button>
    <button class="button button1">Mauritania</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Mauritius</button>  
    <button class="button button1">Morocco</button>
    <button class="button button1">Mozambique</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Namibia</button>  
    <button class="button button1">Niger</button>
    <button class="button button1">Nigeria</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Rwanda</button>  
    <button class="button button1">Sao Tome & Principe</button>
    <button class="button button1">Senegal</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Seychelles</button>  
    <button class="button button1">Sierra Leone</button>
    <button class="button button1">Somalia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">South Africa</button>  
    <button class="button button1">South Sudan</button>
    <button class="button button1">Sudan</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Tanzania</button>  
    <button class="button button1">Togo</button>
    <button class="button button1">Tunisia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Uganda</button>  
    <button class="button button1">Zambia</button>
    <button class="button button1">Zimbabwe</button>
  </div>
  &nbsp;

{% endblock content %}