{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Bangladesh</button>  
    <button class="button button1">Bhutan</button>
    <button class="button button1">Brunei</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Cambodia</button>  
    <button class="button button1">China</button>
    <button class="button button1">Cyprus</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Georgia</button>  
    <button class="button button1">India</button>
    <button class="button button1">Indonesia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Japan</button>  
    <button class="button button1">Laos</button>
    <button class="button button1">Malaysia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Maldives</button>  
    <button class="button button1">Mongolia</button>
    <button class="button button1">Myanmar</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Nepal</button>  
    <button class="button button1">North Korea</button>
    <button class="button button1">Philippines</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Singapore</button>  
    <button class="button button1">South Korea</button>
    <button class="button button1">Sri Lanka</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Thailand</button>  
    <button class="button button1">Timor-Leste</button>
    <button class="button button1">Turkey</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Vietnam</button>
    <button class="button button1"></button>  
    <button class="button button1"></button>  
  </div>
  &nbsp;

{% endblock content %}