{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Belize</button>  
    <button class="button button1">Costa Rica</button>
    <button class="button button1">El Salvador</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Guatemala</button>  
    <button class="button button1">Honduras</button>
    <button class="button button1">Nicaragua</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Panama</button>  
    <button class="button button1"></button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}