{% extends "travelblog/base.html" %}
{% block content %}

	<style type="text/css">
		button {
			background-size: cover;
			width: 100%;
			height: 370px;
			font-size: 350%;
			font-family: 'Roboto Mono', monospace;
			text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
			border-radius: 15px;
		}
	</style>

	<a href="http://localhost:8000/regions/africa/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2017/01/15/18/55/south-africa-1982418_960_720.jpg'); color: white; ">
		Africa
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/asia/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2016/02/19/10/10/city-1209105_960_720.jpg'); color:white">
		Asia
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/oceania/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2016/06/20/03/21/rainbow-1467988_960_720.jpg'); color: white;">
		Australia & Oceania
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/centralamerica/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2017/05/30/04/36/volcano-2355772_960_720.jpg'); color: white;">
		Central America
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/europe/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2016/09/04/20/09/mountains-1645078_960_720.jpg'); color: white;">
		Europe
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/middleeast/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2021/05/29/18/59/petra-6294051_960_720.jpg'); color: white;">
		Middle East
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/northamerica/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2016/11/23/18/00/yosemite-national-park-1854097_960_720.jpg'); color: white;">
		North America
	</button>
	</a>
	&nbsp;
	<a href="http://localhost:8000/regions/southamerica/">
	<button style="background-image: url('https://cdn.pixabay.com/photo/2016/11/12/09/58/chile-1818533_960_720.jpg'); color: white;">
		South America
	</button>
	</a>
	&nbsp;

{% endblock content %}