{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Albania</button>  
    <button class="button button1">Andorra</button>
    <button class="button button1">Austria</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Belarus</button>  
    <button class="button button1">Belgium</button>
    <button class="button button1">Bosnia and Herz.</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Bulgaria</button>  
    <button class="button button1">Croatia</button>
    <button class="button button1">Czech Republic</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Denmark</button>  
    <button class="button button1">Estonia</button>
    <button class="button button1">Finland</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">France</button>  
    <button class="button button1">Germany</button>
    <button class="button button1">Greece</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Holy See</button>  
    <button class="button button1">Hungary</button>
    <button class="button button1">Iceland</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Ireland</button>  
    <button class="button button1">Italy</button>
    <button class="button button1">Latvia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Liechtenstein</button>  
    <button class="button button1">Lithuania</button>
    <button class="button button1">Luxembourg</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Malta</button>  
    <button class="button button1">Moldova</button>
    <button class="button button1">Monaco</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Montenegro</button>  
    <button class="button button1">Netherlands</button>
    <button class="button button1">North Macedonia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Norway</button>  
    <button class="button button1">Poland</button>
    <button class="button button1">Portugal</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Romania</button>  
    <button class="button button1">Russia</button>
    <button class="button button1">San Marino</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Serbia</button>  
    <button class="button button1">Slovakia</button>
    <button class="button button1">Slovenia</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Spain</button>  
    <button class="button button1">Sweden</button>
    <button class="button button1">Switzerland</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Ukraine</button>  
    <button class="button button1">United Kingdom</button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}