{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Bahrain</button>  
    <button class="button button1">Cyprus</button>
    <button class="button button1">Egypt</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Iran</button>  
    <button class="button button1">Iraq</button>
    <button class="button button1">Isreal</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Jordan</button>  
    <button class="button button1">Kuwait</button>
    <button class="button button1">Lebanon</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Oman</button>  
    <button class="button button1">Palestine</button>
    <button class="button button1">Qatar</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Saudi Arabia</button>  
    <button class="button button1">Syria</button>
    <button class="button button1">Turkey</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">United Arab Emer.</button>  
    <button class="button button1">Yemen</button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}