{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Antigua and Barbuda</button>  
    <button class="button button1">Bahamas</button>
    <button class="button button1">Barbados</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Canada</button>  
    <button class="button button1">Cuba</button>
    <button class="button button1">Grenada</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Haiti</button>  
    <button class="button button1">Jamaica</button>
    <button class="button button1">Mexico</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Saint Kitts</button>  
    <button class="button button1">Saint Lucia</button>
    <button class="button button1">Saint Vincent</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Trinidad and Tobago</button>  
    <button class="button button1">United States</button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}