{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Australia</button>  
    <button class="button button1">Fiji</button>
    <button class="button button1">Kiribati</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Marshall Islands</button>  
    <button class="button button1">Micronesia</button>
    <button class="button button1">Nauru</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">New Zealand</button>  
    <button class="button button1">Palau</button>
    <button class="button button1">Papua New Guinea</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Samoa</button>  
    <button class="button button1">Solomon Islands</button>
    <button class="button button1">Tonga</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Tuvalu</button>  
    <button class="button button1">Vanuatu</button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}