{% extends "travelblog/base.html" %}
{% block content %}
  <style>
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  </style>

  <div class="btn-group">
    <button class="button button1">Argentina</button>  
    <button class="button button1">Bolivia</button>
    <button class="button button1">Brazil</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Chile</button>  
    <button class="button button1">Colombia</button>
    <button class="button button1">Ecuador</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Falkland Islands</button>  
    <button class="button button1">French Guiana</button>
    <button class="button button1">Guyana</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Paraguay</button>  
    <button class="button button1">Peru</button>
    <button class="button button1">Suriname</button>
  </div>
  &nbsp;

  <div class="btn-group">
    <button class="button button1">Uruguay</button>  
    <button class="button button1">Venezuela</button>
    <button class="button button1"></button>
  </div>
  &nbsp;

{% endblock content %}